input[type=text] {
	position:fixed;
	bottom: 0;
    width: 80%;
    border-radius: 5px;
}
button[type=submit] {
	position: fixed;
	bottom: 0;
	right: 0;
    padding: 9px 10px;
    width: 15%;
    border-radius: 5px;
}